.c-1{
    max-width: 800px;
}

.navbar{
    background-color: #151ced;
}
.navbar a{
    color: white;
}
.circle-1{
    width: 30px;
    border: 50px;
    background-color: blue;
}

.middle{
    background-color: #151ced;
}
.rec-2{
    height: 25px;
    width: 25px;
    background-color: #ececf3;
    border-radius: 10px;
    color: #151ced;
}
.rec-3{
    height: 60px;
    width: 60px;
    background-color: #151ced;
    border-radius: 10px;
}
.rec-4{
    height: 250px;
    width: 150px;
    background-color: #151ced;
    border-radius: 10px;
    font-size: 9px;
    color: #ececf3;
    justify-content: center;
}
.rec-5{
    height: 60px;
    width: 150px;
    background-color: #151ced;
    border-radius: 55px;
    font-size: 14px;
    color: #ececf3;
    justify-content: center;
}
.rec-6{
    height: 60px;
    width: 150px;
    background-color: #151ced;
    border-radius: 50px;
    font-size: 14px;
    color: #ececf3;
    justify-content: center;
}

.form-control{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
}
.now{
    background-color: #FEFEFE;
    color: #151ced;
}
.required{
    display: none;
    color: red;
    font-size: 12px;
}
.required.invalid{
    display: block;
    color: red;
    font-size: 12px;
}
.required1{
    display: none;
    color: red;
    font-size: 12px;
}
.required1.invalid{
    display: block;
    color: red;
    font-size: 12px;
}
.required2{
    display: none;
    color: red;
    font-size: 12px;
}
.required2.invalid{
    display: block;
    color: red;
    font-size: 12px;
}
.required3{
    display: none;
    color: red;
    font-size: 12px;
}
.required3.invalid{
    display: block;
    color: red;
    font-size: 12px;
}
.card1{
    width: 150px;
    height: 100px;
    background-color: #151ced;
    padding: 0.5rem;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: 0.50s;
}
.card1 p a{
    text-decoration: none;
    color: #fff;
}
.card1:hover{
background:linear-gradient(to right, rgb(0, 255, 255),rgb(255, 209, 209)) ;
color: #151ced;
transform: translate(0, -5px);
transition: 0.50s;
}
.row1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.success{
    color: green;
}